html,
body {
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.button {
    cursor: pointer;
}

.content {
    padding: 16px;
    border-radius: 16px;
    position: absolute;
    top: 30px;
    left: 34px;
}

/* Cancas */

.canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

/* Drag and drop area */

.drop-area {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    visibility: hidden;
    box-sizing: border-box;
    background: rgba(255,255,255, 0.1);
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
.drop-area::after {
    content: '';
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.drop-area_visible_yes {
    visibility: visible;
    background: rgba(255,255,255, 0.9);
}
.drop-area_visible_semi {
    visibility: visible;
    background: rgba(255,255,255, 0);
}
.drop-area__item {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: translateY(20px);
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.3s;
}
.drop-area_visible_yes .drop-area__item {
    opacity: 1;
    transform: translateY(0);
}
.drop-area__item:nth-child(1) {
    background: rgba(0,0,0, 0.05);
    transition-delay: 0.1s;
}
.drop-area__item:nth-child(2) {
    background: rgba(0,0,0, 0.1);
    transition-delay: 0.15s;
}
.drop-area_visible_semi .drop-area__item:nth-child(1) {
    background: rgba(0,0,0, 0.05);
    transition-delay: 0.15s;
}
.drop-area_visible_semi .drop-area__item:nth-child(2) {
    transition-delay: 0.1s;
}
.drop-area__label {
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
}
.drop-area__label::before {
    content: 'Bend. option:';
    color: rgba(0,0,0, 0.5);
    font-size: 9px;
    font-weight: 500;
    line-height: 11px;
    text-transform: uppercase;
    display: block;
}